# DALI MAS — SICStus License Environment Variables
# Copy this file to .env and fill in your license details.
# The .env file is gitignored and must NEVER be committed to the repository.
# Remember to copy the UNIX credentials

# Site identifier from your license
SICSTUS_LICENSE_SITE=

# License key string
SICSTUS_LICENSE_KEY=

# Expiry date (e.g. "2025-12-31" or "permanent")
SICSTUS_LICENSE_EXPIRY=


