.DS_Store
.idea
Examples/advanced/build/*
Examples/advanced/work/*
Examples/advanced/conf/*
Examples/advanced/conf/mas/*.txt
Examples/advanced/conf/communication.pl
Examples/advanced/conf/communication.txt
Examples/advanced/server.txt
**/conf/communication.*
*.log